<div class="mobile-message">
  Estas en pantalla pequeña
</div>
<div class="outer">
  <div class="middle">
    <div class="inner">
      <div class="logo-wp">
        <%= image_tag("Logo_Landing.png") %>
      </div>
      <div class="login-button-wp">
        <a href="/user/sign_in">
          <%= image_tag("Boton_Entrar.png") %>
        </a>
      </div>
      <div class="text-wp">
        <%= prompt_text ("Totem 3D te prestenta una nueva herramienta para que diseñes los espacios que siempre soñaste.")%>
      </div>
    </div>
  </div>
</div>
