ul.decorate-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cornflowerblue;
  z-index: 9999;
  li {
    float: left;
    a {
      display: block;
      color: white;
      text-align: center;
      padding: 8px 16px;
      text-decoration: none;
      &:hover {
        background-color: #111;
      }
    }
  }
  li.to-the-right{
    float: right;
  }
}