h1{
  padding: 30px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
  padding: 20px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://wallpaperscraft.com/image/sofa_tub_plant_74954_1280x720.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 0px;
}

button {
  width: 6em;
  border: 2px solid green;
  background: #ffe;
  border-radius: 5px;
}

a {
  color: #00B7FF;
}
